:root {
  --blue: #0f3c72;
  --lblue: rgb(173, 200, 230);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
font-size: 40px;
}

h2 {
  font-size: 28px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: var(--blue);
}

/*Header and nav*/

header {
  padding: 10px 0;
  background-color: var(--lblue);
}

header h1 {
  padding: 0 10px 0 10%;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
}

#navBar {
  display: flex;
  justify-content: space-between;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 20px;
}

#navLinks li {
  padding: 0px 20px;
}

li {
  list-style: none;
}

/*Hero banner*/

.hero-banner {
  display: flex;
  height: 180px;

  background: url(../images/herobackground.jpg) no-repeat;
  background-size: 100%;
  justify-content: flex-end;
  align-items: center;
}

#hero h2 {
  align-self: center;
  background-color: #ffffff;
  padding: 5px 292px 5px 5px;
  border-radius: 20px 0 0 20px;
}

#hero {
  display: inline-flex;
}

#hero img {
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  left: 600px;
  width: 150px;
  height: 150px;
}


/*About Me*/

#about {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
}

#about h2 {
  border-right: 2px solid var(--lblue);
  width: 15%;
  padding: 0 10px;
  text-align: right;
}

#about p {
  width: 60%;
  padding: 0 20px;
}

/*Work section*/

#work {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
}

#work h2 {
  border-right: 2px solid var(--lblue);
  width: 15%;
  padding: 0 10px;
  text-align: right;
}

#work-grid {
  width: 60%;
  height: 600px;
  padding: 0 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
  background: var(--lblue) url(../images/02-portfolio-1.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;
}

#project2 {
  grid-area: project2;
  background: var(--lblue) url(../images/02-portfolio-2.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#project3 {
  grid-area: project3;
  background: var(--lblue) url(../images/02-portfolio-3.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#project4 {
  grid-area: project4;
  background: var(--lblue) url(../images/02-portfolio-4.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#project5 {
  grid-area: project5;
  background: var(--lblue) url(../images/02-run-buddy.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#work-grid a {
  text-decoration: none;
  border-bottom: none;
  color: black;
}

.wg-item {
  position: relative;
}

.wg-item-label {
  position: absolute;
  bottom: 1em;
  left: 0;
  background-color: var(--lblue);
  padding: 5px;
}

/*Contact section*/

#contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
}

#contact h2 {
  border-right: 2px solid var(--lblue);
  width: 15%;
  padding: 0 10px;
  text-align: right;
}

#contact-links {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 60%;
  padding: 0 20px;
}


/*Media Queries*/

/*Medium screen*/

@media only screen and (max-width: 800px) {

  header h1 {
    padding: 0 10px;
    border-radius: 20px;
  }
  
  #navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #navLinks {
    justify-content: space-evenly;
    padding: 0;
  }
  
  #navLinks li {
    padding: 0px 20px;
  }

  #hero h2 {
    padding: 5px 120px 5px 5px;
  }
  
  #hero img {
    left: 450px;
    width: 100px;
    height: 100px;
  }

  #about {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 20px 20px;
  }
  
  #about h2 {
    border-bottom: 2px solid var(--lblue);
    border-right: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  #about p {
    width: 100%;
    padding: 0 0px;
  }

  #work {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 20px 20px;
  }
  
  #work h2 {
    border-bottom: 2px solid var(--lblue);
    border-right: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  #work-grid {
    width: 100%;
    padding: 0;
  }

  #contact {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 20px 20px;
  }
  
  #contact h2 {
    border-bottom: 2px solid var(--lblue);
    border-right: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  #contact-links {
    width: 100%;
    padding: 0 0px;
  }

}

/*Small screen*/

@media only screen and (max-width: 577px) {

  .hero-banner {
    justify-content: center;
  }

  #hero {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  #hero h2 {
    padding: 5px;
    border-radius: 20px;
  }

  #hero img {
    left: auto;
  }

  #work-grid {
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4"
    "project5"
    ;
  }

  #contact-links {
    flex-direction: column;
    gap: 5px;
  }

}