/*:root {
  --dark: rgb(75, 50, 80);
  --light: rgb(200, 200, 200);
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: lightblue;
}

/*Header and nav*/

header {
  padding: 10px 0;
  background-color: lightslategrey;
}

header h1 {
  padding: 0 10px 0 10%;
  background-color: #add8e6;
  border-radius: 0 20px 20px 0;
}

#navBar {
  display: flex;
  justify-content: space-between;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 20px;
}

#navLinks li {
  padding: 0px 20px;
}

li {
  list-style: none;
}

/*Hero banner*/

.hero-banner {
  display: flex;
  height: 180px;

  background: url(../images/02-hero-bg.jpg) no-repeat;
  background-size: 100%;
  justify-content: flex-end;
  align-items: center;
}

#hero h2 {
  align-self: center;
  background-color: lightblue;
  padding: 5px 300px 5px 5px;
  border-radius: 20px 0 0 20px;
}

#hero {
  display: inline-flex;
}

#hero img {
  border-radius: 50%;
  background-color: lightblue;
  position: relative;
  left: 600px;
}


/*About Me*/

#about {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
}

#about h2 {
  border-right: 2px solid lightblue;
  width: 10%;
  padding: 0 10px;
  text-align: right;
}

#about p {
  width: 60%;
  padding: 0 20px;
}

/*Work section*/

#work {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
}

#work h2 {
  border-right: 2px solid lightblue;
  width: 10%;
  padding: 0 10px;
  text-align: right;
}

#work-grid {
  width: 60%;
  height: 600px;
  padding: 0 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
  background: lightblue url(../images/02-portfolio-1.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;
}

#project2 {
  grid-area: project2;
  background: lightblue url(../images/02-portfolio-2.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#project3 {
  grid-area: project3;
  background: lightblue url(../images/02-portfolio-3.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#project4 {
  grid-area: project4;
  background: lightblue url(../images/02-portfolio-4.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#project5 {
  grid-area: project5;
  background: lightblue url(../images/02-run-buddy.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

}

#work-grid a {
  text-decoration: none;
  border-bottom: none;
  color: black;
}

.wg-item {
  position: relative;
}

.wg-item-label {
  position: absolute;
  bottom: 1em;
  left: 0;
  background-color: lightblue;
  padding: 5px;
}

/*Contact section*/

#contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
}

#contact h2 {
  border-right: 2px solid lightblue;
  width: 10%;
  padding: 0 10px;
  text-align: right;
}

#contact ul {
  width: 60%;
  padding: 0 20px;
}

#contact-links {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

/*TODO add Media Queries*/
/*Media Queries*/