* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*Header and nav*/

#navBar {
  display: flex;
  justify-content: space-between;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#navLinks li {
  padding: 0px 20px;
}

li {
  list-style: none;
}

/*Hero banner*/
/*TODO Give hero-banner background image*/


/*Work section*/
/*TODO Make page-wrapper a grid or flexbox??*/

/*TODO Make a grid within id 'work'*/


/*Contact section*/
/*TODO make contact section a flexbox*/