/*:root {
  --dark: rgb(75, 50, 80);
  --light: rgb(200, 200, 200);
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: lightblue;
}

/*Header and nav*/

header {
  padding: 10px 0;
  background-color: lightslategrey;
}

header h1 {
  padding: 0 10px 0 60px;
  background-color: lightblue;
}

#navBar {
  display: flex;
  justify-content: space-between;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#navLinks li {
  padding: 0px 20px;
}

li {
  list-style: none;
}

/*Hero banner*/

.hero-banner {
  display: flex;
  height: 180px;
  background: url(../images/02-hero-bg.jpg) no-repeat;
  background-size: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

#hero {
  background-color: lightblue;
  margin: 0 100px 20px 0;
  padding: 5px;
}


/*About Me*/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about h2 {
  border-right: 2px solid lightblue;
  width: 20%;
  padding: 0 10px;
  text-align: right;
}

#about p {
  width: 60%;
  padding: 0 20px;
}

/*Work section*/
/*TODO add images and style to grid items*/

#work {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work h2 {
  border-right: 2px solid lightblue;
  width: 20%;
  padding: 0 10px;
  text-align: right;
}

#work-grid {
  width: 60%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
}

#project2 {
  grid-area: project2;
}

#project3 {
  grid-area: project3;
}

#project4 {
  grid-area: project4;
}

#project5 {
  grid-area: project5;
}


/*Contact section*/

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  border-right: 2px solid lightblue;
  width: 20%;
  padding: 0 10px;
  text-align: right;
}

#contact ul {
  width: 60%;
  padding: 0 20px;
}

#contact-links {
  display: flex;
  justify-content: space-around;
  align-content: center;
}